*
{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: 'Ubuntu', sans-serif;
}
body
{
    width:100%;
}
header
{
    width: 100%;
    height: 100vh;
    overflow:hidden;
    background-image: url("images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
nav
{
    width: 100%;
    height:70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 2px -2px rgba(0,0,0,.2);
}
nav p
{
    font-size: 30px;
    margin-left:50px;
    font-family: 'Do Hyeon', sans-serif;
}
nav ul
{
    list-style: none;
}
nav ul li
{
    float: left;
    margin-right: 50px;
    cursor: pointer;
    font-size: 20px;
    
    text-transform: uppercase;
}
#apply
{
    background-color: rgb(73, 93, 127);
    width:100%;
    height:100px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#apply p
{
    font-size:30px;
    color:white;
    margin-right:10%;
}
#apply button
{
    width:20%;
    background-color:#00a546;
    outline: none;
    box-shadow: none;
    border:0;
    height: 45px;
    border-radius: 30px;
    font-size: 18px;
    color:white;
}
#about
{
    width: 100%;
    height: 100vh;
    overflow:hidden;
    
}
#about div
{
    width:100%;
    height:50%;
    margin:0 auto;
    align-items: center;

}
#first,#second
{
    display: flex;
}
#about div section
{
    width: 50%;
    height: 100%;
    
}
#img
{
    background-color: rgb(250, 245, 240);
    text-align:center;
    
}
#about div section img
{
    max-width:60%;
    
}
footer
{
    width: 100%;
    height: 200px;
    background-color:#18152c;
    color: white;
    font-size:20px;
    text-align:center;
    padding: 30px 200px 0 200px;
}
footer section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:16px;
}
footer section button
{
    width:150px;
    background-color:rgb(46, 112, 226);
    outline: none;
    box-shadow: none;
    border:none;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
    color:white;
    margin-top:20px;
}
footer section div
{
    text-align: left;
    
}
footer section div h1
{
    margin-bottom: 20px;
    font-size:20px;
    text-transform: uppercase;
}
footer p
{
    margin-top:10px;
}
footer p span
{
    color:red;
   font-size:25px;
}
#intro
{
    position:absolute;
    top:40%;
    left:15%;
    transform:translate(-50%);
}
#intro h1
{
    font-size:50px;
    color:#13ff13;
    text-shadow: 200px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black;
    
}
#intro span
{
    color:rgb(46, 112, 226);
}
#intro p
{
    font-size:20px;
    margin-bottom: 10px;
}
#intro button
{
    width:170px;
    height: 40px;
    border-radius: 10px;
    border:0;
    outline:0;
    margin-top:10px;
    background-color: #00a546;
    color: white;
    font-size:18px;
}
#text
{
   
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(166, 255, 206);
}
#text div
{
    width:70%;
}
#text p
{
    font-size:18px;
}
#text button
{
    width:170px;
    height: 40px;
    border-radius: 10px;
    border:0;
    outline:0;
    margin-top:20px;
    background-color: #00a546;
    color: white;
    font-size:18px;
}
html
{
    scroll-behavior: smooth;
}
a
{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:1px;
    color:black;
}
button{
    font-family: 'Rubik', sans-serif;
}
h1
{
    font-family: 'Arimo', sans-serif;
}